/* 
I chose grey and a dark purple for the main/home page because there isnt as much reading and i want to
show off the background image and it gets emphasized with the dark color  and i like
the color combonation of a dark grey and darkish purple, And for the terms page i chose a dark grey
and a lighter purple because there is more reading invlovled while also keeping a nice color combo.
(Complementary color combination)
*/

body {
  margin: 0;
}
#Header-Welcome-page {
  position: relative;
  height: 650px;
}

#heading-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b759d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  line-height: 45px;
}

.nav-link {
  margin: 0.1px;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  font-size: 1.3rem;

  background-color: #243164;
  color: #bbbbbb;
}

nav a:hover,
nav a:focus {
  background-color: #bbbbbb;
  color: #353535;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  text-decoration: double;
  background-color: rgb(192, 192, 192);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: double;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: double;
}

h4 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: double;
}

h5 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: double;
}

p {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  font-family: Georgia, Arial, Times, serif;
  margin: 30px 10%;
  padding: 20px 30px;
  line-height: 140%;
}

iframe {
  margin: 30px 2%;
  padding: 20px 30px;
}
#styled-by-id {
  font-weight: bold;

  font-size: 34pxs;
}

h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(81, 90, 120);
  z-index: -1;
  transition: transform 0.3s ease;
}

h1 {
  position: relative;
  font-size: 2rem;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
